* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

.pos-static {
    background: #ff1e00;
    position: static;
    padding: 10px;
    margin-top: 40px;
}

.pos-relative {
    background: #ffff00;
    position: relative;
    top: 30px;
    left: 50px;
    padding: 10px;
}

.pos-absolute {
    padding: 10px;
    position: absolute;
    background: #0088cc;
    right: 20px;
    bottom: 50px;
}

.pos-fixed {
    position: fixed;
    bottom: 90%;
    right: 10%;
    background: #ff1e00;
    padding: 30px;
}

.halaman {
    width: 100%;
    height: 80%;
}

.display-block {
    background-color: #0088cc50;
    display: block;
    padding: 30px;
    margin: 10px;
}

.inline {
    background: #ffff00;
    display: inline-flex;
    padding: 30px;
    margin: 10px;
}

.gaada {
    width: 20%;
    height: 20%;
    background-color: #ff1e00;
    margin: 10px;
    padding: 10px;
    visibility: hidden;
}

.ada {
    width: 20%;
    height: 20%;
    background-color: aqua;
    margin: 10px;
    padding: 10px;
}


.container {
    width: 50%;
    height: 80%;
    background-color: yellow;
    display: flex;
}

.card {
    width: 20%;
    height: 20%;
    background: #ffff;
    margin: 5px;
}

.hero {
    width: 50%;
    height: 80%;
    background-color: greenyellow;
    display: flex;
}

/* memanggil nama parent untuk memisahkan gaya */
.hero .card {
    width: 20%;
    height: 20%;
    background: #0088cc;
    margin: 5px;
}

.flex-container {
    background-color: #ffff88;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 30px 0;
}

.card-flex {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 15px;
    text-align: center;
}